<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

</head>

<body>

<h3 th:inline="text" sec:authorize="hasAuthority('ADMIN')">Hello [[${#httpServletRequest.remoteUser}]]!</h3>

	<form action="/login" sec:authorize="isAnonymous()">
		<input type="submit" value="Sign in"/>
	</form>
	
	<form th:action="@{logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
		<input type="submit" value="Sign out" />
	</form>
	
	<h1>PR List</h1>

	<table>
		<tbody>
			<tr>
				<th>Exercise</th>
				<th>Weight</th>
				<th>Reps</th>
				<th>RPE</th>
				<th>Date</th>
				
			</tr>
			
			<tr th:each = "pr : ${prs}" style="text-align:center;">
				<td th:text = "${pr.exercise.name}">
				<td th:text = "${pr.weight}">
				<td th:text = "${pr.reps}">
				<td th:text = "${pr.rpe}">
				<td th:text = "${pr.date}">
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${pr.prid})}">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${pr.prid})}">Delete</a></td>
 	  
			</tr>
			
		</tbody>
	</table>

<a href="/add" sec:authorize="hasAuthority('ADMIN')">Add a pr</a>

</body>

</html>